<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>continuous integration and deployment with azure devops</title>
</head>
<style>
    .css {
        height: 40px;
        padding-top: 18px;
        color: darkorchid;
        font-size: 18px;
        font-style: italic;
        font-family: "Lucida Console";
        text-align: center;
        background-color: beige;
    }
    .bra {
        color: mediumseagreen;
    }
</style>
<body>
<div class="css">
    <span th:text="${intro}"></span>
</div>
<div class="css">
    <span class="bra">(the <strong style="color: red">test</strong> branch)hosting testing version of the iblog project : https://test.iblog.run</span>
</div>
</body>
</html>
