<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>continuous integration and deployment with azure devops</title>
</head>
<style>
    #css {
        height: 40px;
        padding-top: 18px;
        color: darkorchid;
        font-size: 18px;
        font-style: italic;
        font-family: "Lucida Console";
        text-align: center;
        background-color: beige;
    }
</style>
<body>
<div id="css">
    <span th:text="${intro}"></span>
</div>
</body>
</html>
